<% if institution_signed_in? %>


<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= select(:donation, :blood_group_id, BloodGroup.all.collect {|p| [ p.group, p.id ] }, {include_blank: 'None'}) %>
  </div>


  <%= hidden_field_tag :institution_id, current_institution.id %>
  <%= hidden_field_tag :user_id, '' %>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<% else %>

<p>Niste ulogirani.</p>

<%= link_to "Ulogirajte se.", 'login'%>
<%end %>

