<div class='centriraj'>
  
<h1>Popis svih donacija</h1>

<table>
  <thead>
    <tr>
      <th>Bilješka</th>
      <th>Korisnik_id</th>
      <th>Institucija_id</th>
      <th>Krvna grupa_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= link_to donation.notes, donation %></td>
        <td><%= donation.user_id %></td>
        <td><%= donation.institution_id %></td>
        <td><%= donation.blood_group_id %></td>
        <% if super_admin_signed_in? %>
          <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
          <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>


</div>
