<!DOCTYPE html>
<html>
<head>
  <title>GiveMeBlood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<p class='notice'>
	<% notice %>
</p>

<p class='alert'>
	<% alert %>
</p>

<h2>LINKOVI</h2>
<ul>
	<li> <a href="/login">Login</a></li>
	<li> <a href="/logout">Logout</a></li>
	<li> <a href="/registracija">Registracija</a></li>
</ul>

<% if super_admin_signed_in? %>
	<h1>   Logiran je <%= current_super_admin.email %> </h1>
	<br> <%= link_to "logout", destroy_super_admin_session %>	

<%else%>
		<%if institution_signed_in?%>
			logiran si kao institucija -- <b> <%= current_institution.email %> </b>
			<br> 
			<%= link_to "logout", destroy_institution_session_path %>			<br>
			<%= link_to 'svi donori', '/donori' %> <br>
			<%= link_to 'zabilježi donaciju', '/donations/new' %>

		<% else %>
			<p>nisi ulogiran</p>
		<% end %>
<%end%>



<%= yield %>

</body>
</html>
