<!DOCTYPE html>
<html>
<head>
  <title>GiveMeBlood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <script src=<%= yield(:js_tagovi)%>   /> </script>

</head>
<body  <%=yield(:metoda)%>  >

<%= render 'layouts/header' %>

<p class="notice">
  <%= flash[:success] unless flash[:success].blank? %>
  <%= flash[:error] unless flash[:error].blank? %>
  <%= flash[:notice] unless flash[:notice].blank? %>
  <%= flash[:alert] unless flash[:alert].blank? %>
</p>

<div class="sadrzaj">
		
	<%= yield %>
	
</div>

<br/> <br/> <br/><br/>
<%= render 'layouts/footer' %>

</body>
</html>
