<h1>Listing donors</h1>

<table>
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Email</th>
      <th>Locked</th>
      <th>Bilješka</th>
      <th>Datum zadnje donacije</th>
      <th>Datum rođenja</th>
      <th>Spol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody >
    <% @donors.each do |donor| %>
      <tr>
        <td><%= link_to donor.first_name || 'prazno', donor %></td>
        <td><%= link_to donor.last_name || 'prazno', donor %></td>
        <td><%= donor.email %></td>
        <td><%= donor.locked %></td>
        <td><%= donor.note %></td>
        <td><%= donor.date_of_last_donation %></td>
        <td><%= donor.dob %></td>
        <td><%= donor.gender %></td>
        <% if super_admin_signed_in? %>
            <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
            <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donor', new_donor_path %>
