<!DOCTYPE html>
<html>
<head>
  <title>GiveMeBlood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class='notice'>
	<% notice %>
</p>


<p class='alert'>
	<% alert %>
</p>


<h1>
	<% if super_admin_signed_in? %>
		<%= current_super_admin.email %>
<%else%>
		<p>nisi ulogiran</p>
<%end%>

</h1>

<%= yield %>

</body>
</html>
